*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; */
}

nav{
    height: 100px;
    width: 100%;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.part{
    height: 100%;
    width: 20%;
    background-color: royalblue;
}

.part:nth-child(2){
    width: 50%;
}

section.center{
    /* height: 30%; */
    width: 100%;
    background-color: #d31092;
    display: flex;
    justify-content: center;
}

.center-text{
    width: 50%;
    text-align: center;
    padding: 50px;
}

.center-text h1{
    font-size: 60px;
}

.center-text button{
    background-color: black;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 20px;
}

.bottom{
    padding: 20px;
    /* height: 500px; */
    width: 100%;
    background-color: rgb(12, 190, 190);
    display: flex;
    justify-content: space-evenly;
}

.card{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
}